html {
   background: #FAF9F6;
}

/*header*/
header {
    display: flex;
    flex-direction: row;
    border: thin solid red;
    justify-content: space-between;
}

#signout{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    border: thin solid red;
}

.signout-border {
    border: 1px solid black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}


/*nav*/

/*main*/
.quiz-container {
    margin: 2%;
}

#uservalue_subject {
    display: flex;
    width: 180px;
}


#div-for-buttons {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1%;
    border: thin solid red;
}

#ai_input_uservalue {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly !important;
}

#ai_input_uservalue_subject {
    display: flex;
    flex-direction: row;
}

#ai_input_uservalue_topic{
    display: flex;
    flex-direction: row;
}

