html {
   background: #FAF9F6;
}


/*header*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#signout{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.signout-border {
    border: 1px solid black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

#signout_icon {
    display: flex;
    width: 2em;
}

#signout_text{
    text-decoration: none;
}
#signout_text:hover {
    visibility: visible;
}

/*nav*/

/*main*/
#quiz-container {
    margin: 10px auto;
}


#uservalue_subject {
    display: flex;
    width: 180px;
    padding: 0.5%;
}


#question_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
}

.questionslist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-field{
    width: 15em;
}

.notes-field{
    width: 15em;
}

#div-for-buttons {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0.5%;
}



#addquestion_button {
    margin-bottom: 0.5%;
    width: 35em;
    text-align: center;
}

#quizgenerate{
    margin-bottom: 0.5%;
    width: 35em;
    text-align: center;
}


#savequiz{
    margin-bottom: 0.5%;
    width: 35em;
    text-align: center;
}


/*js ai-quiz generate*/
#ai_input_uservalue {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly !important;
}

#ai_input_uservalue_subject {
    display: flex;
    flex-direction: row;
}

#ai_input_uservalue_topic{
    display: flex;
    flex-direction: row;
}

#submit-ai-generate-quiz-form{
    margin-bottom: 2.5%;
}
