html{
    background: #FAF9F6;
}

/*header */

header {
    display: flex;
    flex-direction: row;
    border: thin solid red;
    justify-content: space-between;
}

#signout{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.signout-border {
    border: 1px solid black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}


/*nav */
#created-classrooms {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    list-style-type: none;

}

#created-classrooms button {
    border: thin solid black;
    color: gray;
    opacity: 45%;
}

#created-classrooms button:hover {
    opacity: 1;
}

/*#Template_Classroom {
    margin-bottom: 1.5%;
}
*/

.classroom-bullet-point{
    margin: 0.25%;
}