html {
    background: #FAF9F6;
}


/*header*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#signout-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signout-border {
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
}

#signout_icon {
    display: flex;
    width: 2em;
    height: 2em;
}

#signout_text{
    text-decoration: none;
    opacity: 0;
}
#signout_text:hover {
    visibility: visible;
    opacity: 1;
}

/*main*/

/*students_in_classroom section*/

.student_in_classroom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: thin solid red;
}

#remove-student{
    background: #FAF9F6;
    border: none;
}
.x-icon{
    width: 1.5em;
    height: 1.5em;
    backface-visibility: hidden;
}



